{% extends "base.html" %}

{% block content %}
    <h2>Photos</h2>
    <div class="grid-container">
        {% for photo in photos %}
            {% if photo.uploader.id in follows_ids %}
                <div class="post">
                    <img src="{{ photo.image.url }}">
                    <p>{{ photo.caption }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2>Blog</h2>
    <div class="grid-container">
        {% for blog in blogs %}
            {% with continue=False %}
                {% for contributor in blog.contributors.all %}
                    {% if not continue and contributor.id in follows_ids %}
                        <div class="post">
                            <a href="{% url 'view_blog' blog.id %}">
                                <h4>Billet: {{ blog.billet }}</h4>
                                <img src="{{ blog.photo.image.url }}">
                            </a>
                        </div>
                        {% with continue=True %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}