{% extends "base.html" %}

{% block content %}
    <h2>Photos</h2>
    <div class="grid-container">
        {% for photo in photos %}
            {% if photo.uploader.id in follows_ids %}
                <div class="post">
                    <img src="{{ photo.image.url }}">
                    <p>{{ photo.caption }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2>Blog</h2>
    <div class="grid-container">
        {% for blog in blogs %}
            {% if blog.author.id in follows_ids %}
                <div class="post">
                    <a href="{% url 'view_blog' blog.id %}">
                        <h4>Billet: {{ blog.billet }}</h4>
                        <img src="{{ blog.photo.image.url }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}